<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/images/favicon.ico') }}">
    <title>{{ title }}</title>
</head>

<body>
    <div class="flex flex-col my-4 mx-8 font-mono">
        <!--Header-->
        <header class="sticky top-0 px-4">
            <div class="flex flex-row">
                <div class="flex-1 flex flex-row justify-start items-center gap-12">
                    <div class="cursor-pointer" hx-get="/home" hx-push-url="true" hx-target="#body" hx-swap="innerHTML">
                        {{ title
                        }}</div>
                    <div class="cursor-pointer" hx-get="/about" hx-push-url="true" hx-target="#body"
                        hx-swap="innerHTML">About
                    </div>
                </div>
                <div class="flex-none flex flex-row justify-end items-center gap-6">
                    <div><a href="https://github.com/ayoshi007/fastapi-webgl-fun">GitHub</a></div>
                </div>
            </div>
        </header>
        <hr class="mx-0 mt-4 mb-8">
        <!--Body-->
        <main class="flex-1">
            <div id="body" hx-get="/home" hx-trigger="load" hw-swap="innerHTML">
            </div>
        </main>
    </div>
</body>

</html>
